# eBay Browse API (https://developer.ebay.com)
EBAY_CLIENT_ID=your_ebay_client_id
EBAY_CLIENT_SECRET=your_ebay_client_secret
EBAY_MARKETPLACE_ID=EBAY_US

# Facebook Marketplace via Apify (https://apify.com)
# Uses the facebook-marketplace-search actor by default
APIFY_TOKEN=your_apify_api_token
APIFY_FACEBOOK_ACTOR=dtrungtin~facebook-marketplace-search
